<footer class=footer>
    <div class=container>
        <div class=row>
            <div class="col-sm-3 col-sm-offset-1">
                <ul style=padding:0>
                    <li class=header>About</li>
                    <li><a href=mailto:sales@sysfreight.com>Contact us</a></li>
                </ul>
            </div>
            <div class=col-sm-3>
                <ul style=padding:0>
                    <li class=header>Legal</li>
                    <li><a ui-sref=privacy target=_blank>Privacy Policy</a></li>
                </ul>
            </div>
            <div class=col-sm-4 style=margin-bottom:20px> &copy; SysMagic Software Solution.
                <div> Singapore & China & Thailand & Myanmar & Malaysia & Indonesia</div>
                <div style=margin-top:8px>
                    <a href=https://facebook.com/sysfreights target=_blank>
                        <i class="fa fa-facebook-square fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
