<footer class=footer>
    <div class=container>
        <div class=row>
            <div class="col-sm-3 col-sm-offset-1">
                <ul style=padding:0>
                    <li class=header>About</li>
                    <li><a ui-sref="faq({open: ''})">FAQ</a></li>
                    <li><a href=http://blog.shakepay.co>Blog</a></li>
                    <li><a href=mailto:contact@shakepay.co>Contact us</a></li>
                </ul>
            </div>
            <div class=col-sm-3>
                <ul style=padding:0>
                    <li class=header>Legal</li>
                    <li><a ui-sref=privacy target=_blank>Privacy Policy</a></li>
                    <li><a ui-sref=terms target=_blank>Terms of Use</a></li>
                    <li><a ui-sref="faq({open: 'kyc'})">KYC & AML</a></li>
                </ul>
            </div>
            <div class=col-sm-4 style=margin-bottom:20px> &copy; Shake Labs Inc.
                <div> Montreal, Canada &#127809; </div>
                <div style=margin-top:8px> <a href=https://facebook.com/shakepay target=_blank><i class="fa fa-facebook-square fa-2x"></i></a> <a href=https://twitter.com/shakepay target=_blank><i class="fa fa-twitter-square fa-2x"></i></a> <a href=https://instagram.com/shakepay
                        target=_blank><i class="fa fa-instagram fa-2x"></i></a> </div>
            </div>
        </div>
    </div>
</footer>
