<ion-view title="GRT-Detail">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon ion-navicon" ng-click="returnList()"></button>
		<div class="h1 title">Goods Receipt Tally</div>
        <button class="button button-icon icon ion-android-open" ng-click="openModal()"></button>
	</ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item">
                <div class="pull-left">
                    <h2>Customer : <span ng-bind="grtDetail.strCustomer"></span></h2>
                    <p>ASN No    : <span ng-bind="grtDetail.strGRN"></span></p>
                </div>
            </div>
            <div class="item item-body">
                <div class="list">
                    <div class="row">
                        <div class="col col-80" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">BarCode&nbsp;&nbsp;:</span>
                                <input type="text" id="txt-grt-detail-barcode" ng-model="grtDetail.strBarCode" autofocus="autofocus" style="padding-right: 14px;">
                            </label>
                        </div>
                        <div class="col col-10">
                            <button class="button button-clear button-small" ng-click="CamScanBarCode()"><i class="icon ion-qr-scanner"></i></button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small" ng-click="clearBarCode()"><i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                    <label class="item item-input">
                        <span class="input-label" style="padding-top:2px; padding-bottom: 2px; font-size: small;">Product Code : <span ng-bind="grtDetailImpr1.ProductCode"></span></span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label" style="padding-top:2px; padding-bottom: 2px; font-size: small;">Description : <span ng-bind="grtDetailImpr1.ProductName"></span></span>
                    </label>
                    <div class="row">
                        <div class="col col-80" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Serial No&nbsp;&nbsp;:</span>
                                <input type="text" id="txt-grt-detail-sn" ng-model="grtDetail.SerialNo" style="padding-right: 14px;" readonly>
                            </label>
                        </div>
                        <div class="col col-10">
                            <button class="button button-clear button-small" ng-click="CamScanSerialNo()"><i class="icon ion-qr-scanner"></i></button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small" ng-click="clearSerialNo()"><i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-90" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Qty&nbsp;&nbsp;:</span>
                                <span id="txt-grt-detail-qty" ng-bind="grtDetail.Qty"></span>
                            </label>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small" ng-click="changeQty()"><i class="icon ion-android-create"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="scan.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar-positive" align-title="center">
                    <div class="h1 title">Scanning Detail</div>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="Imgr2 in Imgr2s">
                            <div class="row">
                                <div class="col col-50">
                                    <p style="font-size:0.8em;">BarCode&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                                </div>
                                <div class="col col-50">
                                    <span ng-bind="Imgr2.BarCode" style="font-size:1.2em;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-50">
                                    <p style="font-size:0.8em;">Product Code&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                                </div>
                                <div class="col col-50">
                                    <span ng-bind="Imgr2.ProductCode" style="font-size:1.2em;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-50">
                                    <p style="font-size:0.8em;">Scan Qty&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                                </div>
                                <div class="col col-50">
                                    <span ng-bind="Imgr2.ScanQty" style="font-size:1.2em; color:red;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-50">
                                    <p style="font-size:0.8em;">Actual Qty&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                                </div>
                                <div class="col col-50">
                                    <span ng-bind="Imgr2.ActualQty" style="font-size:1.2em;"></span>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
                <ion-footer-bar style="height:8%; padding:0px;">
                    <div class="button-bar">
                        <button class="button icon ion-arrow-return-left" ng-click="closeModal()">&nbsp;Return</button>
                    </div>
                </ion-footer-bar>
            </ion-modal-view>
        </script>
    </ion-content>
	<ion-footer-bar style="padding:1px;">
		<div class="button-bar">
            <a class="button button-positive" id="btn-grt-detail-confirm" style="line-height: 44px;" ng-click="checkConfirm()">Confirm</a>
            <a class="button button-light" id="btn-grt-detail-cancel" style="line-height: 44px;" ng-click="returnList()">Cancel</a>
		</div>
	</ion-footer-bar>
</ion-view>