<div class="wrapper landing">
    <div ng-include=template.navbar></div>
    <div class="hero hero_sign-up" id=home>
        <div class=container>
            <div class=row>
                <div class=col-xs-12>
                    <h1 class="heading hero__heading">Everyday purchases with bitcoin </h1>
                    <p class="heading__sub hero-heading__sub"> A bitcoin debit card with no foreign transaction fees, less fraud, and mobile tap & pay. </p>
                </div>
            </div>
        </div>
        <div class="form-inline hero__form">
            <div class=container>
                <div class=row>
                    <div class=col-xs-12>
                        <form ng-submit=submitEmail() ng-hide=savedEmail>
                            <div class=form-group>
                                <label class=sr-only for=email>Email</label>
                                <input type=email class="form-control input-lg email-field" ng-model=email name=email id=email placeholder="Enter your email address"> </div>
                            <button type=submit class="btn btn-outline btn-rounded btn-shake">Get early access</button>
                        </form>
                        <form ng-submit=submitCurrencies() ng-show=savedEmail>
                            <h4 style=color:white ng-hide=savedCurrencies> Hey, just curious. What currencies are you most interested in? <br>(You may select more than one) </h4>
                            <select class="form-control email-field" ng-model=currency ng-hide=savedCurrencies multiple>
                                <option ng-repeat="currency in availableCurrencies" value={{currency.value}}>{{currency.name}}</option>
                            </select>
                            <br>
                            <button type=submit class="btn btn-outline btn-rounded btn-shake" ng-hide=savedCurrencies>Save</button> <span ng-show=savedCurrencies style=color:white;font-size:16px>You're in line for early access!</span> </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_first" id=shake-alpha>
        <div class=container>
            <h4 class=heading>Introducing Shake Alpha</h4>
            <div class=row>
                <div class=feature-div>
                    <div class="col-sm-5 col-sm-push-7 col-sm-height center">
                        <h4 class="heading heading_left">Mobile tap & pay with bitcoin</h4>
                        <p class=heading__sub style=margin-bottom:0> Get your phone ready, tap and pay is-a comin'. Shake's Android app lets you tap and pay for everyday purchases in bitcoin.
                            <br>
                            <br>
                            <br> </p>
                        <p class="read-more center">
                            <a href="http://blog.shakepay.co/2016/introducing-shake-alpha/">
                                <button type=button class="btn btn-outline btn-rounded btn-blue">Learn more</button>
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-7 col-sm-pull-5 center">
                        <div class=android>
                            <div class=fcamera> </div>
                            <div class=clens> </div>
                            <div class=speaker> </div>
                            <div class="screen active" style="background-image: url('images/app1.png')"> </div>
                            <div class=screen style="background-image: url('images/app2.png')"> </div>
                            <div class=screen style="background-image: url('images/app3.jpg')"> </div>
                            <div class=lock_btn> </div>
                            <div class=volume_btn> </div>
                            <div class=task_bar> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_alt section_whyshake" id=why>
        <div class=container>
            <h4 class=heading>Why Shake</h4>
            <div class=row>
                <div class=col-sm-4> <span class="fa fa-compass how-icon"></span>
                    <div class=row>
                        <div class=how-items-title> We love travelling & hate foreign transaction fees </div>
                        <div class=how-items-body> Shake cards can be used in any of 80 currencies, online or in person, and you'll never pay foreign transaction fees. Ever. Cards can be used worldwide, where VISA cards are accepted (35+ million merchants). </div>
                    </div>
                </div>
                <div class=col-sm-4> <span class="fa fa-mobile how-icon"></span>
                    <div class=row>
                        <div class=how-items-title> We want to pay with our phones </div>
                        <div class=how-items-body> Shake cards can be used anywhere tap & pay payments are accepted. All you need is an NFC-enabled smartphone and the world is yours to tap-tap-tap away. </div>
                    </div>
                </div>
                <div class=col-sm-4> <span class="fa fa-fort-awesome how-icon"></span>
                    <div class=row>
                        <div class=how-items-title> We don't trust anyone with our credit cards </div>
                        <div class=how-items-body> Bzzzt.. Bzzzt.. You are instantly notified for every accepted and declined transaction on your cards. Next time you worry your card got frauded, spin out a replacement card. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section features" id=built-for>
        <div class=container>
            <h4 class=heading>Shake is built for</h4>
            <div class=row>
                <div class=feature-div>
                    <div class="col-sm-5 col-sm-height center">
                        <h4 class="heading heading_left">The fiscally responsible</h4>
                        <p class=heading__sub> Set a limit on your cards like giving an allowance to your children. &#36;20 on this card, &#8364;30 on that card, and you'll never get charged more.
                            <br>
                            <br>Want to dispute a charge? One-click chargebacks are now a thing. </p>
                    </div>
                    <div class="col-sm-7 center"> <span class="fa fa-balance-scale feature-img"></span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section features">
        <div class=container>
            <div class=row>
                <div class=feature-div>
                    <div class="col-sm-5 col-sm-push-7 col-sm-height center">
                        <h4 class="heading heading_left">The world traveller</h4>
                        <p class=heading__sub> Travelling to Europe? Issue a card in Euros. After Europe you're going to Australia? Issue a new one in Australian Dollars. No longer are you penalized for being an outsider.
                            <br>
                            <br>We support more than 20 currencies so you'll never feel stuck. </p>
                    </div>
                    <div class="col-sm-7 col-sm-pull-5 center"> <span class="fa fa-globe feature-img"></span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section features">
        <div class=container>
            <div class=row>
                <div class=feature-div>
                    <div class="col-sm-5 col-sm-height center">
                        <h4 class="heading heading_left">The security freaks<sup><sup>like us</sup></sup> </h4>
                        <p class=heading__sub> Time to laugh when a store gets a security breach. If they have your card saved, you can now fight back! Issue a new card, transfer your funds over, and voila! Your old card will disappear into the ether, balanceless.
                            <br>
                            <br>Think of Shake like protection for your wallet. </p>
                    </div>
                    <div class="col-sm-7 center"> <span class="fa fa-lock feature-img"></span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_howitworks section_alt" id=howitworks>
        <div class=container>
            <h4 class=heading>How it works</h4>
            <div class=row>
                <div class=col-sm-4> <span class="fa fa-credit-card how-icon"></span>
                    <div class=row>
                        <div class=how-items-title> Issue as many cards as you like </div>
                        <div class=how-items-body> Forget the bank managers, the credit scores, and the wire transfers. It's about time you control your spendings. Create a card for everything:
                            <ul>
                                <li>your Amazon account</li>
                                <li>your Uber account</li>
                                <li>that weird website you wanted to try out and needed a credit card for</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=col-sm-4> <span class="fa fa-btc how-icon"></span>
                    <div class=row>
                        <div class=how-items-title> Load your card with bitcoin </div>
                        <div class=how-items-body> Only a tiny number of merchants accept your bitcoins. Spite the millions that don't. Use bitcoin to load your Shake cards and make 'em pay those crippling processing fees. </div>
                    </div>
                </div>
                <div class=col-sm-4> <span class="fa fa-shopping-cart how-icon"></span>
                    <div class=row>
                        <div class=how-items-title> Start spending </div>
                        <div class=how-items-body> A brand spankin' new card! Where will you use it? </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section features" id=team>
        <div class=container>
            <div class=row>
                <div class=col-xs-12>
                    <h4 class=heading>Meet the team</h4> </div>
            </div>
            <div class=row>
                <div class="col-md-8 col-md-offset-2">
                    <div class=row>
                        <div class="col-xs-4 col-xs-offset-1">
                            <div class=team__item>
                                <div class=team-item__img> <img src=images/jean.jpg class=img-responsive alt=...> </div>
                                <div class=row>
                                    <div class=col-md-6>
                                        <div class=team-item__name>Jean Amiouny</div>
                                        <div class=team-item__position>Co-founder</div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class=team-item__contact>
                                            <a class=team-item-contact__link href=https://twitter.com/aiouy> <i class="fa fa-twitter"></i> </a>
                                            <a class="team-item-contact__link team-item-contact__link_linkedin" href=https://ca.linkedin.com/in/aiouy> <i class="fa fa-linkedin"></i> </a>
                                            <div class=clearfix></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-xs-offset-2">
                            <div class=team__item>
                                <div class=team-item__img> <img src=images/roy.jpg class=img-responsive alt=...> </div>
                                <div class=row>
                                    <div class=col-md-6>
                                        <div class=team-item__name>Roy Breidi</div>
                                        <div class=team-item__position>Co-founder</div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class=team-item__contact>
                                            <a class=team-item-contact__link href=https://twitter.com/roybrey> <i class="fa fa-twitter"></i> </a>
                                            <a class="team-item-contact__link team-item-contact__link_linkedin" href=https://ca.linkedin.com/in/roybreidi> <i class="fa fa-linkedin"></i> </a>
                                            <div class=clearfix></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_howitworks" id=subscribe>
        <h4 class=heading>Get early access</h4>
        <div class=container>
            <div class=row>
                <div class=col-xs-12>
                    <form ng-submit=submit() ng-hide=savedEmail>
                        <input type=email class="form-control input-lg email-field" ng-model=email id=email placeholder="Enter your email address">
                        <button type=submit class="btn btn-outline btn-rounded btn-shake" ng-class="{disabled: savedEmail}">{{savedEmail || 'Get early access'}}</button>
                    </form>
                    <form ng-submit=submit2() ng-show=savedEmail>
                        <h4 style=color:white ng-hide=savedCurrencies> Hey, just curious. What currencies are you most interested in? <br> (You may select more than one) </h4>
                        <select class="form-control email-field" ng-model=currency ng-hide=savedCurrencies multiple>
                            <option ng-repeat="currency in availableCurrencies" value={{currency.value}}>{{currency.name}}</option>
                        </select>
                        <br>
                        <button type=submit class="btn btn-outline btn-rounded btn-shake" ng-hide=savedCurrencies>Save</button> <span ng-show=savedCurrencies style=color:white;font-size:16px>You're in line for early access!</span> </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-include=template.footer></div>
</div>
<script type=text/javascript>
    function scroll() {
        if ($(window).scrollTop() > 0) {
            $(".navbar").removeClass("navbar-default");
            $(".navbar").addClass("navbar-inverse");
        } else {
            $(".navbar").addClass("navbar-default");
            $(".navbar").removeClass("navbar-inverse");
        }
    }
    document.onscroll = scroll;

    $(function() {
        var $tilts = $('.screen');
        var $last = $tilts.first();
        var count = 0;
        setInterval(function() {
            // Move all tilts to the back
            $tilts.css('z-index', '0');

            // Select current tilt
            var $tilt = $tilts.eq(++count % $tilts.length);

            // Keep last tilt on front
            $last.css('z-index', '1');

            // Fade current tilt
            $tilt
                .hide()
                .css('z-index', '2')
                .fadeIn(400);

            // Save last tilt
            $last = $tilt;
        }, 3000);
    })
</script>
