<ion-view title="Login">
	<ion-side-menus enable-menu-with-back-views="true">
		<ion-side-menu-content>
			<div style="text-align:center; margin-left:auto; margin-right:auto; margin-top:-2em; margin-bottom:-4.5em;">
				<img src="./img/WMSLogo.png" width="220px;" height="220px;">
			</div>
			<div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-android-person placeholder-icon"></i>&nbsp;&nbsp;
                    <input type="text" id="iUserName" placeholder="User Name" required ng-model="logininfo.strUserName">
                </label>
				<label class="item item-input">
					<i class="icon ion-android-lock placeholder-icon"></i>&nbsp;&nbsp;
					<input type="password" id="iPassword" placeholder="Password" required ng-model="logininfo.strPassword">
				</label>
				<button class="button button-block button-positive" ng-click="login()">SIGN IN</button>
			</div>
		</ion-side-menu-content>
		<ion-side-menu side="left">
			<ion-header-bar align-title="center" class="bar-positive"  menu-close>
				<h1 class="title">Settings</h1>
			</ion-header-bar>
			<ion-content class="has-header">
				<ion-list>
					<ion-item nav-clear ng-click="setConf()">
						<i class="icon ion-android-settings"></i> Server-Side Configuration
					</ion-item>
                    <ion-item nav-clear ng-click="checkUpdate()">
                        <i class="icon ion-arrow-up-c"></i> Check New Version
                    </ion-item>
				</ion-list>
			</ion-content>
		</ion-side-menu>
	</ion-side-menus>
</ion-view>
