<ion-view title="Main">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="h1 title">SysFreight WMS</div>
    </ion-header-bar>
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                <div class="container">
                    <div style="margin-top:8.0em;">
                        <div class="row row-center" style="margin-left: 0px; margin-right:0px;">
                            <div class="col col-50" style="text-align:center;">
                                <a style="width:70%;height:100%;" ng-click="GoToTask()"><img src="./img/free-60-icons-59.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Task</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;" ng-click="GoToGrt()"><img src="./img/free-60-icons-58.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Goods Receipt Tally</h5>
                            </div>
                        </div>
                        <div class="row row-center" style="margin-left: 0px; margin-right:0px;">
                            <div class="col col-50" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-52.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Verify GRN</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;" ng-click="GoToVgin()"><img src="./img/free-60-icons-33.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Pick & Verify GIN</h5>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </ion-tab>
            <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
                <div class="container">
                    <div style="margin-top:8.0em;">
                        <div class="row row-center" style="margin-left: 0px; margin-right:0px;">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-50.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Contacts</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-51.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Documents</h5>
                            </div>
                        </div>
                        <div class="row row-center" style="margin-left: 0px; margin-right:0px;">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-11.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Reports</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-tab>
            <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
                <div class="container">
                    <div style="margin-top:8.0em;">
                        <div class="row row-center" style="margin-left: 0px; margin-right:0px;">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-12.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Scan Setting</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-13.png" width="60%" alt="" class="img-circle"></a>
                                <h5>APP Setting</h5>
                            </div>
                        </div>
                        <div class="row row-center" style="margin-left: 0px; margin-right:0px;">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-14.png" width="60%" alt="" class="img-circle"></a>
                                <h5>Download</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-tab>
        </ion-tabs>
        <div class="bar bar-footer" style="height:20%; padding:0px;">
            <img src="./img/ad.png" alt="" style="display:block;" width="100%">
        </div>
    </ion-pane>
</ion-view>